.turn
    if !hideUserInput
        span.vorplePrompt &gt; 
        span.previousCommand #{playerInput}
    .turnContent
        .main
            span !{resultOutput}
            br
            br

//Todo: transient resultOutput/errors