extends layout

block content
  .container(style="background-color:inherit")
    #vorpleContainer.retro
      #vorple
        .turn.previousTurn
          span.vorplePrompt &gt; 
            input(type="text")