extends layout

block content
  .container(style="background-color:inherit")
    #vorpleContainer.retro
      #vorple
        .turn
          span.vorplePrompt &gt; 
            span.previousCommand Previous Command
          .turnContent
            .main
              span This is the previous result
              br
        .turn.previousTurn
          span.vorplePrompt &gt; 
            input(type="text")