doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='/js/jquery.min.js')
    link(rel="stylesheet" href='node_modules/xterm/css/xterm.css')
    script(src='/assets/xterm.js')
    //- script(src='node_modules/xterm-addon-fit/out/FitAddon.js')
    script(src='/javascripts/uiterm.js')
  body
    block content
