#inventory {
	position:fixed;
	top:200px;
	left:80px;
}

#avatar {
	position:fixed;
	top:30px;
	left:80px;
	text-align:right;
	width:85%;
	max-width:900px;
}

#avatar div {
	text-align:right;
}

body {
	padding:0 230px 0 250px;
}

.container {
	background-color:transparent !important;
	max-width:560px;
	width:auto;
}

#vorple {
	margin: 0 auto;
	text-align: left;
	max-width:560px;
	color:#557755;
}

.container #vorple {
	width:auto;
}

#vorpleContainer {
	background-color:transparent;
	margin:100px auto 15px auto;
	max-width:560px;
	padding:1em;
	border:0px solid #ccf;
	box-shadow:0px 0px 0px #000;
	-webkit-box-shadow:0px 0px 0px #000;
	-moz-box-shadow:0px 0px 0px #000;
}

.parserError .turnContent {
	font-style: italic;
	color: #007700;
}

.parserError .oldPrompt {
/*	text-decoration: line-through; */
	font-style: italic;
	color:#007700;
}

#vorple .vorplePrompt input {
	width:80%;
}


#vorpleContainer.retro, #vorpleContainer.retro .turn {

color:#54fe54;

font-family: Courier, "Courier New", monospace;
font-size: 14px;
font-weight: normal;

}

#vorple input {
font-family: inherit;
    color: #54FE54;
    font-weight: bold;
    border: none;
    background-color: transparent;
    width: 90%;
}

.normal #vorple input {
    color: #fff;8*6
}
#vorpleContainer.normal, #vorpleContainer.normal .turn {

background-color:black;

color:white;

font-family:serif;
font-size: 14px;
font-weight: normal;

}

#vorpleContainer.minimal, #vorpleContainer.minimal .turn {

background-color:black;

color:white;

font-family:serif;
font-size: 14px;
font-weight: normal;

}



body.normal {
	background-color:#000;
	margin:0;
	font-size:100%;
	text-align:left;
	background-attachment: fixed;
	background-image: url(bg_real.gif)
}

body.retro {
	background-color:#000;
	margin:0;
	font-size:100%;
	text-align:left;
	background-attachment: fixed;
	background-image: url(bg_ascii.gif)
}

body.minimal {
	background-color:#000;
	margin:0;
	font-size:100%;
	text-align:left;
	background-attachment: fixed;
}

#header_image {
	position:fixed;
	top:0;
	left:0;
	margin:0 230px 0 250px;
	padding:0 30px 5px 30px;
	background-color:black;
	max-width:500px;
}

#header_image img {
	width:100%;
}

.previousCommand {
	color: inherit;
	font-weight: bold;
	text-transform: inherit;
	font-size: inherit;
	border: none;
	background-color: transparent;
	width: 100%;
	margin-bottom: inherit;
}

#avatar {
	z-index: -1;
}

a, a:visited {
	color: #3c3;
	text-decoration:underline;
}